

#main{
    
      
        height: 720px;
       
        background-image: url( "main.png" );

        background-repeat: no-repeat;
        background-position: center center;
      
      
        background-size: auto;
      
     
      


}
.button0 { 
    opacity: 0;
    padding:23.5px 172px;
    border-radius: 47px;
    position: fixed;
    right: 585px;
    top: 371px;
    cursor: pointer;
}






