

#main{
    
      
        height: 1425px;
       
        background-image: url( "main\ -\ 복사본.png" );
        background-repeat: no-repeat;
        background-position: center center;
      
      
        background-size: cover;
      
     
      


}
.button0 { 
    opacity: 0;
    padding:47px 344px;
    border-radius: 47px;
    position: fixed;
    right: 1190px;
    top: 728px;
    cursor: pointer;
}






