#qna2{
    display: none;

      
    height: 720px;
       
        background-image: url( "Q2.png" );
        background-repeat: no-repeat;
        background-position: center center;
      
     
        background-size: auto;
      
}

.button2_1 { 
    opacity: 0;
    padding:23.5px 470px;
    border-radius: 47px;
    position: fixed;
    right: 362px;
    top: 245px;
    cursor: pointer;
    border : none;
  }
.button2_1:hover{
  opacity: 0.5;
  background-color: yellow;
  border: solid black;
}

  .button2_2 { 
    opacity: 0;
    padding:23.5px 375px;
    border-radius: 47px;
    position: fixed;
    right: 552px;
    top: 320px;
    cursor: pointer;
    border:none;
  }
  .button2_2:hover{
    opacity: 0.5;
  background-color: yellow;
  border: solid black;
  }
  .button2_3 { 
    opacity: 0;
    padding:23.5px 540px;
    border-radius: 47px;
    position: fixed;
    right: 222px;
    top: 397px;
    cursor: pointer;
    border:none;
  }
  .button2_3:hover{
    opacity: 0.5;
  background-color: yellow;
  border: solid black;
  }
  .button2_4 { 
    opacity: 0;
    padding:23.5px 572px;
    border-radius: 47px;
    position: fixed;
    right: 157px;
    top: 473px;
    cursor: pointer;
    border: none;
  }
  .button2_4:hover{
    opacity: 0.5;
  background-color: yellow;
  border: solid black;
  }