#qna3{
    display: none;

      
    height: 720px;
       
        background-image: url( "Q3.png" );
        background-repeat: no-repeat;
        background-position: center center;
      
     
        background-size: auto;
      
}

.button3_1 { 
    opacity: 0;
    padding:23.5px 100px;
    border-radius: 47px;
    position: fixed;
    right: 1103px;
    top: 245px;
    cursor: pointer;
    border: none;
  }
  .button3_1:hover{
    opacity: 0.5;
  background-color: yellow;
  border: solid black;
  }
  .button3_2 { 
    opacity: 0;
    padding:23.5px 190px;
    border-radius: 47px;
    position: fixed;
    right: 923px;
    top: 320px;
    cursor: pointer;
    border: none;
  }
  .button3_2:hover{
    opacity: 0.5;
  background-color: yellow;
  border: solid black;
  }
  .button3_3 { 
    opacity: 0;
    padding:23.5px 190px;
    border-radius: 47px;
    position: fixed;
    right: 923px;
    top: 397px;
    cursor: pointer;
    border: none;
  }
  .button3_3:hover{
    opacity: 0.5;
  background-color: yellow;
  border: solid black;
  }
  .button3_4 { 
    opacity: 0;
    padding:23.5px 190px;
    border-radius: 47px;
    position: fixed;
    right: 923px;
    top: 472px;
    cursor: pointer;
    border: none;
  }
  .button3_4:hover{
    opacity: 0.5;
  background-color: yellow;
  border: solid black;
  }
  .button3_5 { 
    opacity: 0;
    padding:23.5px 100px;
    border-radius: 47px;
    position: fixed;
    right: 1103px;
    top: 549px;
    cursor: pointer;
    border: none;
  }
  .button3_5:hover{
    opacity: 0.5;
  background-color: yellow;
  border: solid black;
  }
