#qna4{
    display: none;

      
    height: 720px;
       
        background-image: url( "Q4.png" );
        background-repeat: no-repeat;
        background-position: center center;
      
     
        background-size: auto;
      
}
.button4_1 { 
    opacity: 0;
    padding: 42px 580px;
    border-radius: 47px;
    position: fixed;
    right: 153px;
    top: 243px;
    cursor: pointer;
    border: none;
  }
  .button4_1:hover{
    opacity: 0.5;
  background-color: yellow;
  border: solid black;
  }
  .button4_2 { 
    opacity: 0;
    padding:23.5px 573px;
    border-radius: 47px;
    position: fixed;
    right: 153px;
    top: 358px;
    cursor: pointer;
    border: none;
  }
  .button4_2:hover{
    opacity: 0.5;
  background-color: yellow;
  border: solid black;
  }
  .button4_3 { 
    opacity: 0;
    padding:23.5px 360px;
    border-radius: 23.5px;
    position: fixed;
    right: 580px;
    top: 434px;
    cursor: pointer;
    border: none;
  }
  .button4_3:hover{
    opacity: 0.5;
  background-color: yellow;
  border: solid black;
  }