#result{
    display: none;

      
    height: 720px;
   
    background-image: url( "result.png" );
    background-repeat: no-repeat;
    background-position: center center;
  
 
    background-size: auto;


}

.button_result { 
    opacity: 0;
    padding:129px 215px;
    border-radius: 103px;
    position: fixed;
    right: 542px;
    top: 237px;
    cursor: pointer;
  }