#result1{
    display: none;

      
    height: 720px;
   
    background-image: url( "result1.png" );
    background-repeat: no-repeat;
    background-position: center center;
  
 
    background-size: auto;


}
.button_home{
    opacity: 1;
    background-color: white;
    padding:20x 20px;
    border-radius: 47px;
    position: fixed;
    right: 130px;
    top: 560px;
    cursor: pointer;
    border:none;
}